  @import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Montserrat:wght@200;400&family=Special+Elite&display=swap');
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  h4 {
    font-size: 1rem;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;

  }
  
  p {
    margin-top: 10px;
    font-size: 1rem;
    color: #3e3e3e;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  button {
    display: inline-block;
    background-color: gray;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 20px;
  }
  
  button:hover {
    transform: scale(0.98);

  }
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  button-container {
    max-width: 800px;
    align-items: center;
    border: 2px solid yellow;
  }
  /* Optional styles for image and link */
  /*
  img {
    max-width: 100%;
    margin-top: 10px;
  }
  
  a {
    display: inline-block;
    margin-top: 10px;
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
  }
  */
  .card {
    /* border: 2px solid red; */
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    background-color: lightgray;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    font-family: 'Montserrat', sans-serif;

  }
  .card:hover {
    transform: scale(0.98);
    background-color: whitesmoke;
  }
  .date{
    font-size: .8rem;
  }